
.container {
	position: relative;

	width: 1024px; 
	height: 1024px;

}

.black-block {

	position: relative;

	width: 30%; 
	height: 100vh;

	background-color: #000;

	float: left;
}

.white-block {

	position: relative;

	width: 70%;
	height: 100vh;


	float: left;

}

.main-title {

	position: relative; 
	top: 20px;

	text-align: center;

	font-size: 65px; 
	font-family: montserrat-sb;
	color: #FFF;
} 

.question-1-title {
	width: 600px;
	font-size: 25px; 
	font-family: raleway-m; 
	text-align: center;
}

.r-bold {
	font-family: raleway-b; 
}

.question-1-block {

	height: 200px;

	position: absolute; 
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.question-1-button {

	position: relative; 
	top: 35px;

	width: 190.5px;
	height: 93.75px;

	background-color: #000; 
	border-radius: 15px;

	font-size: 12px; 
	font-family: glacial-indiff-b; 
	text-align: center;
	color: #FFF;
	letter-spacing: 3px;
}

.button-group-question-1 {
	width: 64.3%;
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .black-block {
  	width: 100%;
  	height: 110px;
  }
  .main-title {
  	font-size: 50px;
  }
  .white-block {
  	width: 100%;
  }
  .question-1-title {
  	font-size: 20px;
  }

}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
   
}

@media screen and (min-width: 1800px) {
 
}
